body {
  font-family: 'Open Sans';
  font-size: 20px;
}

.screen {
  height: 100vh;
  position: relative;
}

.screen:nth-child(odd) {
  background: #2ea657;
  color: #fff;
}

h2 {
  margin: 45px 0 25px;
  text-align: center;
  clear: both;
}

h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

h4 {
  margin-bottom: 20px;
  font-size: 24px;
}

.bottom-separator::after {
  background: #2ea657;
  content: '';
  display: block;
  margin: 30px auto;
  height: 2px;
  width: 15vw;
}

.cost {
  font-size: 32px;
  margin-bottom: 20px;
}

.list-item {
  margin-bottom: 20px;
}

#top-btn {
  background: #205331;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 24px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  opacity: .7;
  position: fixed;
  left: 15px;
  top: 50vh;
  transition: opacity .2s ease-in-out;
}

#top-btn:hover {
  opacity: 1;
}

/* Header */
header {
  background: #fff;
  color: #333;
  height: 30%;
  position: relative;
  padding-bottom: 40px;
  overflow: hidden;
}

#main-logo {
  display: inline-block;
  height: 100%;
  margin-left: 100px
}

#main-logo img {
  width: auto;
  height: 100%;
}

.contacts {
  margin-right: 100px;
}

.contacts div {
  margin-bottom: 5px;
}

/* Menu */
#main-menu {
  background: #2ea657;
  padding: 0 100px;
  text-align: right;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#main-menu a {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  margin-left: -4px;
  transition: background .2s ease-in-out;
}

#main-menu a:hover {
  background: #205331;
  text-decoration: none;
}

/* Slider */
#slider {
  height: 70%;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: auto;
}

/* Poland */
.poland-block {
  font-size: 30px;
  margin-bottom: 25vh;
}

.poland-image {
  border: 7px solid #205331;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  overflow: hidden;
}

.poland-image img {
  width: 100%;
  height: 100%;
}

.additional-cost {
  width: 50%;
  margin: 0 auto;
}

/* Lithuania */
.lithuania-block {
  padding: 20px 150px;
}

.lithuania-image {
  border: 10px solid #205331;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  overflow: hidden;
}

.lithuania-image img {
  width: 100%;
  height: 100%;
}

/* Passports */
#passports-screen .cost {
  font-size: 24px;
}

#passports-screen h4 {
  margin: 100px 0 40px;
  clear: both;
}

.doc-icon {
  border-radius: 50%;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
}

/* Footer */
#bottom-screen {
  padding-bottom: 50px;
}

#bottom-screen h2 {
  margin-bottom: 80px;
}

.why-us-block {
  padding: 0 40px 0 200px;
  margin-bottom: 70px;
}

.why-us-block img {
  height: 80px;
  width: auto;
  position: absolute;
  left: 60px;
}

footer {
  background: #2ea657;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}