body {
  font-family: 'Open Sans';
}

.screen {
  height: 100vh;
  position: relative;
}

.screen:nth-child(odd) {
  background: #2ea657;
  color: #fff;
}

.screen h2 {
  margin: 100px 0 40px;
  text-align: center;
}

#top-btn {
  background: #205331;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: fixed;
  left: 50px;
  top: 50vh;
  transition: background .2s ease-in-out;
}

#top-btn:hover {
  background: #777;
}

/* Header */
header {
  background: #fff;
  color: #333;
  height: 30%;
  position: relative;
  padding-bottom: 40px;
  overflow: hidden;
}

#main-logo {
  display: inline-block;
  height: 250px;
  width: 250px;
  margin-left: 100px
}

#main-logo img {
  width: auto;
  height: 100%;
}

.contacts {
  font-size: 20px;
  margin-right: 100px;
}

.contacts div {
  margin-bottom: 5px;
}

/* Menu */
#main-menu {
  background: #2ea657;
  padding: 0 100px;
  text-align: right;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#main-menu a {
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  margin-left: -4px;
  transition: background .2s ease-in-out;
}

#main-menu a:hover {
  background: #205331;
  text-decoration: none;
}

/* Slider */
#slider {
  height: 70%;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: auto;
}

/* Poland */
#poland-screen h2 {
  margin-bottom: 15vh;
}

.poland-block {
  font-size: 30px;
  margin-bottom: 25vh;
}

/* Lithuania */
.lithuania-block {
  padding: 20px 150px;
}

.lithuania-image {
  background: url(http://placehold.it/130x130);
  border: 10px solid #205331;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
}

.lithuania-block h3 {
  margin-bottom: 20px;
}

/* Footer */
#bottom-screen {
  padding-bottom: 50px;
}

footer {
  background: #2ea657;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}